{% extends 'base.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item active">JAVASCRIPT BASICS </li>
        <li class="list-group-item list-group-item-secondary">Including JavaScript in an HTML Page </li>
        <li class="list-group-item">&lt;script type="text/javascript"&gt; <br>
          //JS code goes here <br>
          &lt;/script&gt; </li>
        <li class="list-group-item list-group-item-secondary">Call an External JavaScript File </li>
        <li class="list-group-item">&lt;script src="name.js"&gt;&lt;/script&gt;</li>
        <li class="list-group-item list-group-item-secondary">Including Comments  </li>
        <li class="list-group-item">Single line comments - // </li>
        <li class="list-group-item">Multi-line comments - /* comment here */  </li>
    </div>
  </div>
  <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item active">JAVASCRIPT BASICS </li>
              <li class="list-group-item list-group-item-secondary">Including JavaScript in an HTML Page </li>
              <li class="list-group-item">&lt;script type="text/javascript"&gt; <br>
                //JS code goes here <br>
                &lt;/script&gt; </li>
              <li class="list-group-item list-group-item-secondary">Call an External JavaScript File </li>
              <li class="list-group-item">&lt;script src="name.js"&gt;&lt;/script&gt;</li>
              <li class="list-group-item list-group-item-secondary">Including Comments  </li>
              <li class="list-group-item">Single line comments - // </li>
              <li class="list-group-item">Multi-line comments - /* comment here */  </li>
          </div>
        </div>




































  <div class="row">
    <ul class="list-group">
      <li class="list-group-item active">Array Methods</li>
      <li class="list-group-item">concat() — Join several arrays into one</li>
      <li class="list-group-item">indexOf() — Returns the first position at which a given element appears in an
        array
      </li>
      <li class="list-group-item">join() — Combine elements of an array into a single string and return the string
      </li>
      <li class="list-group-item">lastIndexOf() — Gives the last position at which a given element appears in an array
      </li>
      <li class="list-group-item">toString() — Converts elements to strings
      </li>
      <li class="list-group-item">shift() — Remove the first element of an array</li>
      <li class="list-group-item"> sort() — Sorts elements alphabetically</li>
      <li class="list-group-item">unshift() —Adds a new element to the beginning</li>
      <li class="list-group-item">slice() — Pulls a copy of a portion of an array into a new array</li>
      <li class="list-group-item">valueOf() — Returns the primitive value of the specified object</li>
      <li class="list-group-item">slice() — Pulls a copy of a portion of an array into a new array</li>
      <li class="list-group-item">valueOf() — Returns the primitive value of the specified object</li>
    </ul>
  </div>


</div>

{% endblock%}