{% extends 'base.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item active">JAVASCRIPT BASICS </li>
        <li class="list-group-item list-group-item-secondary">Including JavaScript in an HTML Page </li>
        <li class="list-group-item">&lt;script type="text/javascript"&gt; <br>
          //JS code goes here <br>
          &lt;/script&gt; </li>
        <li class="list-group-item list-group-item-secondary">Call an External JavaScript File </li>
        <li class="list-group-item">&lt;script src="name.js"&gt;&lt;/script&gt;</li>
        <li class="list-group-item list-group-item-secondary">Including Comments </li>
        <li class="list-group-item">Single line comments - // </li>
        <li class="list-group-item">Multi-line comments - /* comment here */ </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item active">VARIABLES IN JAVASCRIPT </li>
        <li class="list-group-item list-group-item-secondary">var, const, let </li>
        <li class="list-group-item">var — The most common variable. Can be reassigned but only accessed
          within a function. Variables defined with var move to the top when
          code is executed.</li>
        <li class="list-group-item">const — Can not be reassigned and not accessible before they appear
          within the code. </li>
        <li class="list-group-item">let — Similar to const, however, let variable can be reassigned but
          not re-declared. </li>
        <li class="list-group-item list-group-item-secondary">Data Types </li>
        <li class="list-group-item">Numbers — var age = 3 </li>
        <li class="list-group-item">Variables — var y </li>
        <li class="list-group-item">Text (strings) — var a = "init" </li>
        <li class="list-group-item">Operations — var b = 1 + 2 + 3 </li>
        <li class="list-group-item">True or fase statements — var y = true </li>
        <li class="list-group-item">Constant numbers — const PI = 3.14 </li>
        <li class="list-group-item">Objects — var name = {firstName:"John", lastName:”Doe"} </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item active">ARRAYS</li>
        <li class="list-group-item"> var fruit = ["Banana", "Apple", "Pear"]; </li>
        <li class="list-group-item list-group-item-secondary">Array Methods </li>
        <li class="list-group-item">concat() — Join several arrays into one</li>
        <li class="list-group-item">indexOf() — Returns the first position at which a given element appears in an
          array
        </li>
        <li class="list-group-item">join() — Combine elements of an array into a single string and return the string
        </li>
        <li class="list-group-item">lastIndexOf() — Gives the last position at which a given element appears in an array
        </li>
        <li class="list-group-item">toString() — Converts elements to strings
        </li>
        <li class="list-group-item">shift() — Remove the first element of an array</li>
        <li class="list-group-item"> sort() — Sorts elements alphabetically</li>
        <li class="list-group-item">unshift() —Adds a new element to the beginning</li>
        <li class="list-group-item">slice() — Pulls a copy of a portion of an array into a new array</li>
        <li class="list-group-item">valueOf() — Returns the primitive value of the specified object</li>
        <li class="list-group-item">slice() — Pulls a copy of a portion of an array into a new array</li>
        <li class="list-group-item">valueOf() — Returns the primitive value of the specified object</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item active">OPERATORS </li>
        <li class="list-group-item list-group-item-secondary">Basic Operators </li>
        <li class="list-group-item">&(...) — Grouping operator, operations within brackets are executed
          earlier than those outside</li>
        <li class="list-group-item">% — Modulus (remainder ) </li>
        <li class="list-group-item">++ — Increment numbers </li>
        <li class="list-group-item">-- — Decrement numbers</li>
        <li class="list-group-item">+ — Addition </li>
        <li class="list-group-item">- — Subtraction </li>
        <li class="list-group-item"> * — Multiplication</li>
        <li class="list-group-item">- — Subtraction </li>
        <li class="list-group-item list-group-item-secondary">Comparison Operators </li>
        <li class="list-group-item">==— Equal to</li>
        <li class="list-group-item">=== — Equal value and equal type</li>
        <li class="list-group-item"> !=— Not equal</li>
        <li class="list-group-item">-- — Decrement numbers</li>
        <li class="list-group-item">!== — Not equal value or not equal type </li>
        <li class="list-group-item"> &gt — Greater than</li>
        <li class="list-group-item"> &lt — Less than</li>
        <li class="list-group-item">&gt= — Greater than or equal to </li>
        <li class="list-group-item"> &lt= — Less than or equal to</li>
        <li class="list-group-item"> ? — Ternary operator</li>
        <li class="list-group-item list-group-item-secondary">Logical Operators </li>
        <li class="list-group-item">&& — Logical and</li>
        <li class="list-group-item">|| — Logical or</li>
        <li class="list-group-item"> ! — Logical not</li>
        <li class="list-group-item list-group-item-secondary">Bitwise Operators </li>
        <li class="list-group-item">& — AND statement</li>
        <li class="list-group-item">| — OR statement</li>
        <li class="list-group-item"> ~ — NOT</li>
        <li class="list-group-item"> ^ — XOR</li>
        <li class="list-group-item">&lt&lt — Left shift </li>
        <li class="list-group-item">&gt&gt— Right shift</li>
        <li class="list-group-item">&gt&gt&gt — Zero fill right shift</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item active">FUNCTION </li>
        <li class="list-group-item">function name(parameter1, parameter2, parameter3) {<br>
          // what the function does<br>
          } </li>
        <li class="list-group-item list-group-item-secondary">Outputting Data </li>
        <li class="list-group-item">alert() — Output data in an alert box in the browser window</li>
        <li class="list-group-item">confirm() — Opens up a yes/no dialog and returns true/false depending
          on user click</li>
        <li class="list-group-item">console.log() — Writes information to the browser console, good for
          debugging purposes</li>
        <li class="list-group-item">document.write() — Write directly to the HTML document</li>
        <li class="list-group-item">prompt() — Creates an dialogue for user input</li>
        <li class="list-group-item list-group-item-secondary">Global Functions </li>
        <li class="list-group-item">decodeURI() — Decodes a Uniform Resource Identifier (URI) created
          by encodeURI or similar</li>
        <li class="list-group-item">decodeURIComponent() — Decodes a URI component</li>
        <li class="list-group-item"> encodeURI() — Encodes a URI into UTF-8</li>
        <li class="list-group-item">encodeURIComponent() — Same but for URI components</li>
        <li class="list-group-item">eval() — Evaluates JavaScript code represented as a string </li>
        <li class="list-group-item"> isFinite() — Determines whether a passed value is a finite number</li>
        <li class="list-group-item"> isNaN() — Determines whether a value is NaN or not</li>
        <li class="list-group-item">Number() — Returns a number converted from its argument </li>
        <li class="list-group-item"> parseFloat() — Parses an argument and returns a floating point number</li>
        <li class="list-group-item"> parseInt() — Parses its argument and returns an integer</li>

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item active">JAVASCRIPT LOOPS </li>
        <li class="list-group-item">for (before loop; condition for loop; execute after loop) {<br>
          // what to do during the loop
          } <br> </li>
        <li class="list-group-item">for — The most common way to create a loop in JavaScript</li>
        <li class="list-group-item">while — Sets up conditions under which aloop executes</li>
        <li class="list-group-item">do while — Similar to the while loop, however, it executes at least
          once and performs a check at the end to see if the condition is met
          to execute again</li>
        <li class="list-group-item">break — Used to stop and exit the cycle at certain conditions</li>
        <li class="list-group-item">continue — Skip parts of the cycle if certain conditions are met</li>
        <li class="list-group-item list-group-item-secondary">IF - ELSE STATEMENTS </li>
        <li class="list-group-item">if (condition) {<br>
          // what to do if condition is met<br>
          } else {<br>
          // what to do if condition is not met<br>
          }</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item active">FUNCTION </li>
        <li class="list-group-item">function name(parameter1, parameter2, parameter3) {<br>
          // what the function does<br>
          } </li>
        <li class="list-group-item list-group-item-secondary">Outputting Data </li>
        <li class="list-group-item">alert() — Output data in an alert box in the browser window</li>
        <li class="list-group-item">confirm() — Opens up a yes/no dialog and returns true/false depending
          on user click</li>
        <li class="list-group-item">console.log() — Writes information to the browser console, good for
          debugging purposes</li>
        <li class="list-group-item">document.write() — Write directly to the HTML document</li>
        <li class="list-group-item">prompt() — Creates an dialogue for user input</li>
        <li class="list-group-item list-group-item-secondary">Global Functions </li>
        <li class="list-group-item">decodeURI() — Decodes a Uniform Resource Identifier (URI) created
          by encodeURI or similar</li>
        <li class="list-group-item">decodeURIComponent() — Decodes a URI component</li>
        <li class="list-group-item"> encodeURI() — Encodes a URI into UTF-8</li>
        <li class="list-group-item">encodeURIComponent() — Same but for URI components</li>
        <li class="list-group-item">eval() — Evaluates JavaScript code represented as a string </li>
        <li class="list-group-item"> isFinite() — Determines whether a passed value is a finite number</li>
        <li class="list-group-item"> isNaN() — Determines whether a value is NaN or not</li>
        <li class="list-group-item">Number() — Returns a number converted from its argument </li>
        <li class="list-group-item"> parseFloat() — Parses an argument and returns a floating point number</li>
        <li class="list-group-item"> parseInt() — Parses its argument and returns an integer</li>

      </ul>
    </div>
  </div>
</div>

{% endblock%}