{% extends 'base.html'%}

{% import 'bootstrap/wtf.html' as wtf%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    {%for quiz in questions%}
    <div class="alert alert-info" role="alert">
        {{quiz.quiz}}
        {% if current_user.role_id == 1 %}
        <a href="{{url_for('main.quiz',id= quiz.id)}}" class="btn btn-danger">delete</a>
        {%endif%}
    </div>
    {%endfor%}
    {{ wtf.quick_form(quiz_form) }}

</div>
{% endblock%}